@using AbstractGarmentFactoryModel;

@model IEnumerable<AbstractGarmentFactoryModel.Indent>

@{
    ViewBag.Title = "Заказы";
}

<h2>Заказы</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.CustomerId)*@
            <label class="control-label col-md-2">Клиент</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.FabricId)*@
            <label class="control-label col-md-2">Товар</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateImplement)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    //Html.DisplayFor(modelItem => item.CustomerId)
                    var customers = ViewBag.Customers as List<Customer>;
                    var customer = customers.FirstOrDefault(x => x.Id == item.CustomerId);

                    @customer.CustomerFIO
                    //<label class="control-label col-md-2">@customer.CustomerFIO</label>

                    //Html.Display(customer.CustomerFIO);

                }
            </td>
            <td>
                @{
                    var fabrics = ViewBag.Fabrics as List<Fabric>;
                    var fabric = fabrics.FirstOrDefault(x => x.Id == item.FabricId);

                    @fabric.FabricName

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateImplement)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
