@model AbstractGarmentFactoryModel.FabricStocking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FabricStocking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FabricId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FabricId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
